* {
    margin: 0;
    padding: 0;
}

td {
    padding: 8px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}

img {
    height: 50px;
    width: 50px;

}
body{
    background-image: url(https://imagizer.imageshack.com/img924/9752/4a54gS.jpg);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: center center; 
    background-color: #000; 
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}